/* scripts and font */
/* latin */

.ltn{
    font-family: LinuxBiolinumORegular, sans-serif;
    font-size: 14px;
    lang: en;
    direction: ltr;
}

.ltn-small{
    font-family: LinuxBiolinumORegular, sans-serif;
    font-size: 10px;
    lang: en;
    direction: ltr;
}

.ltn-large{
    font-family: LinuxBiolinumORegular, sans-serif;
    font-size: 18px;
    lang: en;
    direction: ltr;
}

/* devanagari */
.deva{
    font-size: 19px;
}

.deva-large{
    font-size: 26px;
}

@font-face {
    font-family: Annapurna;
    src: url(fonts/AnnapurnaSIL-Regular.woff);
}

@font-face {
    font-family: Annapurna;
    font-weight: bold;
    src: url(fonts/AnnapurnaSIL-Bold.woff);
}

@font-face {
    font-family: Shobhika;
    src: url(fonts/Shobhika-Regular.otf);
}

@font-face {
    font-family: Shobhika;
    font-weight: bold;
    src: url(fonts/Shobhika-Bold.otf);
}

@font-face {
    font-family: Adishila;
    src: url(fonts/Adishila.ttf);
}

@font-face {
    font-family: Adishila;
    font-weight: bold;
    src: url(fonts/AdishilaBold.ttf);
}

@font-face {
    font-family: AdishilaDev;
    src: url(fonts/AdishilaDev.ttf);
}

@font-face {
    font-family: AdishilaDev;
    font-weight: bold;
    src: url(fonts/AdishilaDevB.ttf);
}

@font-face {
    font-family: AdishilaSan;
    src: url(fonts/AdishilaSan.ttf);
}

@font-face {
    font-family: AdishilaSan;
    font-weight: bold;
    src: url(fonts/AdishilaSanBoldB.ttf);
}

@font-face {
    font-family: AdishilaSamskrta;
    src: url(fonts/AdishilaSamskrta.ttf);
}

@font-face {
    font-family: Aksharyogini;
    src: url(fonts/AksharyoginiNormal.ttf);
}

@font-face {
    font-family: Aksharyogini;
    font-weight: bold;
    src: url(fonts/AksharyoginiBold.ttf);
}

@font-face {
    font-family: Chandas;
    src: url(fonts/chandas.ttf);
}

@font-face {
    font-family: Nakula;
    src: url(fonts/nakula.ttf);
}

@font-face {
    font-family: Sahadeva;
    src: url(fonts/sahadeva.ttf);
}

@font-face {
    font-family: Samyak;
    src: url(fonts/Samyak.ttf);
}

@font-face {
    font-family: Uttara;
    src: url(fonts/uttara.ttf);
}

@font-face {
    font-family: Sanskrit2003;
    src: url(fonts/Sanskrit2003.ttf);
}

@font-face {
    font-family: MurtySanskrit;
    src: url(fonts/Murty-Sanskrit-1.00.otf);
}


.Adishila{
    font-family: Adishila;
}


.AdishilaDev{
    font-family: AdishilaDev;
}

.AdishilaSan{
    font-family: AdishilaSan;
}

.AdishilaSamskrta{
    font-family: AdishilaSamskrta;
}

.Adishila{
    font-family: Adishila;
}


.Aksharyogini{
    font-family: Aksharyogini;
}

.Annapurna{
    font-family: Annapurna;
}


.Chandas{
    font-family: Chandas;
}

.MurtySanskrit{
    font-family: MurtySanskrit;
}

.Nakula{
    font-family: Nakula;
}

.Sahadeva{
    font-family: Sahadeva;
}

.Samyak{
    font-family: Samyak;
}

.Sanskrit2003{
    font-family: Sanskrit2003;
}


.Shobhika{
    font-family: Shobhika;
}

.Uttara{
    font-family: Uttara;
}

/* dbu-can */

.bod{
    font-size: 19px;
}

.bod-large{
    font-size: 26px;
}

@font-face {
    font-family: DDCUchen;
    src: url(fonts/DDC_Uchen.ttf);
}

@font-face {
    font-family: Jomolhari;
    src: url(fonts/Jomolhari-alpha3c-0605331.ttf);
}

@font-face {
    font-family: QomolangmaBetsu;
    src: url(fonts/Qomolangma-Betsu.woff);
}


@font-face {
    font-family: QomolangmaChuyig;
    src: url(fonts/Qomolangma-Chuyig.woff);
}

@font-face {
    font-family: QomolangmaDrutsa;
    src: url(fonts/Qomolangma-Drutsa.woff);
}

@font-face {
    font-family: QomolangmaDunhuang;
    src: url(fonts/Qomolangma-Dunhuang.woff);
}

@font-face {
    font-family: QomolangmaHoryig;
    src: url(fonts/Qomolangma-Horyig.woff);
}

@font-face {
    font-family: QomolangmaTsumachu;
    src: url(fonts/Qomolangma-Tsumachu.woff);
}

@font-face {
    font-family: QomolangmaTsuring;
    src: url(fonts/Qomolangma-Tsuring.woff);
}

@font-face {
    font-family: QomolangmaTsutong;
    src: url(fonts/Qomolangma-Tsutong.woff);
}

@font-face {
    font-family: QomolangmaUchenSarchen;
    src: url(fonts/Qomolangma-UchenSarchen.woff);
}

@font-face {
    font-family: QomolangmaUchenSarchung;
    src: url(fonts/Qomolangma-UchenSarchung.woff);
}

@font-face {
    font-family: QomolangmaUchenSuring;
    src: url(fonts/Qomolangma-UchenSuring.woff);
}

@font-face {
    font-family: QomolangmaUchenSutung;
    src: url(fonts/Qomolangma-Sutung.woff);
}

@font-face {
    font-family: QomolangmaWoodblock;
    src: url(fonts/Qomolangma-Woodblock.woff);
}

@font-face {
    font-family: TibMachUni;
    src: url(fonts/TibMachUni-1.901b.ttf);
}

@font-face {
    font-family: YagpoUni;
    src: url(fonts/YagpoUni.ttf);
}


.DDCUchen{
    font-family: DDCUchen;
}

.Jomolhari{
    font-family: Jomolhari;
}

.QomolangmaBetsu{
    font-family: QomolangmaBetsu;
}


.QomolangmaChuyig{
    font-family: QomolangmaChuyig;
}


.QomolangmaDrutsa{
    font-family: QomolangmaDrutsa;
}


.QomolangmaDunhuang{
    font-family: QomolangmaDunhuang;
}

.QomolangmaHoryig{
    font-family: QomolangmaHoryig;
}

.QomolangmaTsumachu{
    font-family: QomolangmaTsumachu;
}

.QomolangmaTsuring{
    font-family: QomolangmaTsuring;
}

.QomolangmaTsutong{
    font-family: QomolangmaTsutong;
}

.QomolangmaUchenSarchen{
    font-family: QomolangmaUchenSarchen;
}

.QomolangmaUchenSarchung{
    font-family: QomolangmaUchenSarchung;
}

.QomolangmaUchenSuring{
    font-family: QomolangmaUchenSuring;
    src: url(fonts/Qomolangma-UchenSuring.woff);
}

.QomolangmaUchenSutung{
    font-family: QomolangmaUchenSutung;
}

.QomolangmaWoodblock{
    font-family: QomolangmaWoodblock;
}

.TibMachUni {
    font-family: TibMachUni;
}

.YagpoUni {
    font-family: YagpoUni;
}


/* farsi */

.farsi{
    font-size: 24px;
    lang: fa;
    direction: rtl;
}

.farsi-large{
    font-size: 28px;
    lang: fa;
    direction: rtl;
}

@font-face {
    font-family: Lateef;
    src: url(fonts/Lateef-Regular.woff2),
	 url(fonts/Lateef-Regular.woff);
}

@font-face {
    font-family: Lateef;
    font-weight: bold;
    src: url(fonts/Lateef-Bold.woff2),
	 url(fonts/Lateef-Bold.woff);
}


.Lateef{
    font-family: Lateef;
}

@font-face {
    font-family: Awami;
    src: url(fonts/Lateef-Regular.woff2),
	 url(fonts/Lateef-Regular.woff);
}

@font-face {
    font-family: Awami;
    font-weight: bold;
    src: url(fonts/Lateef-Bold.woff2),
	 url(fonts/Lateef-Bold.woff);
}


.Awami{
    font-family: Awami;
}

@font-face {
    font-family: Awami;
    src: url(fonts/AwamiNastaliq-Regular.woff),
	 url(fonts/AwamiNastaliq-Regular.woff2);
}

@font-face {
    font-family: Awami;
    font-weight: bold;
    src: url(fonts/AwamiNastaliq-Bold.woff),
	 url(fonts/AwamiNastaliq-Bold.woff2);
}

.Scheherazade{
    font-family: Scheherazade;
}

@font-face {
    font-family: Scheherazade;
    src: url(fonts/ScheherazadeNew-Regular.woff),
	 url(fonts/ScheherazadeNew-Regular.woff2);
}

@font-face {
    font-family: Scheherazade;
    font-weight: bold;
    src: url(fonts/ScheherazadeNew-Bold.woff),
	 url(fonts/ScheherazadeNew-Bold.woff2);
}


/* mongol */
.mongol{
    font-size: 19px;
}

.mongol-large{
    font-size: 26px;
}

@font-face {
    font-family: MongolianTitle; 
    src: url(fonts/mngltitleotf.ttf);
}


@font-face {
    font-family: MongolianWhite; 
    src: url(fonts/mnglwhiteotf.ttf);
}


@font-face {
    font-family: MongolianWriting;
    src: url(fonts/mnglwritingotf.ttf);
}


@font-face {
    font-family: MongolianArt; 
    src: url(fonts/mnglartotf.ttf);
}


@font-face {
    font-family: ClassicalMongolianDashitseden; 
    src: url(fonts/cmdashitseden.ttf);
}


@font-face {
    font-family: MongolianScript;
    src: url(fonts/MongolianScript.ttf);
}


.MongolianTitle {
    font-family: MongolianTitle;
}


.MongolianWhite {
    font-family: MongolianWhite;
}


.MongolianWriting {
    font-family: MongolianWriting;
}


.MongolianArt {
    font-family: MongolianArt;
}


.ClassicalMongolianDashitseden {
    font-family: ClassicalMongolianDashitseden;
}


.MongolianScript {
    font-family: MongolianScript;
}



table, tr, th, td {
    text-align: left;
    vertical-align: middle;
    padding: 1px;
}

.blank-row
{
    height: 15px !important; /* overwrites any other rules */
}

.msgs{
    width: 100%;
    position: relative;
}


.cmd {
    margin-top: 10px;
    clear: both;
    width: 250px;
    float: right;
    height: 50px;
    position: sticky;
    bottom: 20px;
    background:  #b3b3b3;
    border-radius: 15px;
}

#input {
    width: 200px;
    border: 0px;
    margin-right: 10px;
    margin-top: 7px;
    float: right;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background:  #b3b3b3;
}


.button {
    background-color:  #313131;
    color: #b3b3b3;
    border: 4px solid  #313131;
    border-radius: 10px;
    padding: 8px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.button:hover {
    background-color:  #b3b3b3;
    color: #313131;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    display:inline-block;
    clear: both;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 2px;
}

.bot{
    background: #fcd08b;
    float: left;
    color:  #313131; 
}

.green{
    background: #9cbf9c;
}

.red{
    background: #d9a0a0; 
}

.me{
    background: #b3b3b3;
    float: right;
    color:  #313131; 
}

.bot + .me{
    border-bottom-right-radius: 5px;
}

.me + .me{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.me:last-of-type {
    border-bottom-right-radius: 30px;
}

a.chat {
    text-decoration: underline;
    color: #313131;
}


a.chat:link { color: #313131; }
a.chat:visited { color:  #313131; }
a.chat:hover { color: #313131; }
a.chat:active { color: #313131; }


/* The switch - the box around the slider  */
.switchdiv {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: 55px;
}

.left-div {
    display: inline-block;
    float: left;
    padding: 10px;
}

.right-div {
    display: inline-block;
    float: right;
    padding: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
 
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  border: 3px solid  #313131;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  #d9a0a0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color:  #313131; 
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9cbf9c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9cbf9c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
